<div class="modal-header">
    <button type="button" class="close" ng-click="closeRegister()">&times;</button>
    <h2 class="modal-title center-align">Register</h2>
    <div ng-show="error" class="card-panel red lighten-2">{{errorMessage}}</div>
</div>
<div class="modal-body">
    <form ng-model="register" ng-submit="register()" enctype="multipart/form-data">
        <label for="email">Email Address</label>
        <input type="email" ng-model="email" placeholder="Email Address" required/>
        <label for="name">Full Name</label>
        <input type="text" ng-model="name" placeholder="Full Name" required/>
        <label for="alias">Alias</label>
        <input type="text" ng-model="alias" placeholder="Alias e.g. Student" required/>
        <label for="description">Description</label>
        <textarea class="materialize-textarea" placeholder="Decription" ng-model="description" required></textarea>
        <label for="photo">Profile Image</label>
        <input type="file" ng-file-model="avatar" required><br><br>
        <button type="submit" class="waves-effect waves-light btn light-blue lighten-1" ng-disabled="disabled">Register</button>
	</form>
</div>