<div class="container">
	<form class="form-signin" ng-submit="submit()">       
		<h2 class="form-signin-heading">Login</h2>
	      <input type="text" class="form-control" ng-model="user.email" id="USER_EMAIL" name="USER_EMAIL" placeholder="Email Address" required=""/><br>   
	      <input type="password" class="form-control" ng-model="user.password" id="USER_PASSWORD" name="USER_PASSWORD" placeholder="Password" required=""/><br>   
	      <button class="btn btn-lg btn-primary btn-block">Login</button> 
	      <h3><a ui-sref="register.signup">Sign up?</a></h3>  
    </form>
</div>