<h2 class="form-signin-heading">Sign Up Form</h2>
	<input type="text" class="form-control" ng-model="formData.email" name="USER_EMAIL" placeholder="Email Address" required=""/><br>
	<input type="text" class="form-control" ng-model="formData.name" name="USER_NAME" placeholder="Full Name" required=""/><br> 
	<input type="text" class="form-control" ng-model="formData.alias" name="USER_ALIAS" placeholder="Alias" required=""/><br>
	<input type="text" class="form-control" ng-model="formData.desc" name="USER_DESC" placeholder="Description" required=""/><br>     
<a class="btn btn-lg btn-primary btn-block" ui-sref="register.confirm" ng-click="addUser()">Sign Up</a><br>
