<div class="container">
    <div class="center-align">
        <h1>Welcome To Unisphere</h1><br>
        <p>Unisphere is an exclusive online directory and notice board that automatically connects you with everyone at your University or Business.
        Plan events, sell goods, meet new people and exchange information through a fast and easy to use online platform.</p><br>
        <ul>
            <li>Plan Parties and other Events </li>
            <li>Exchange Information</li>
            <li>Post Sales to the Notice Board</li>
            <li>Find Study Buddies</li>
        </ul><br><br>
        <button class="waves-effect waves-light btn-large light-blue lighten-1" ng-click="clickLogin()">Login</button>
        <button class="waves-effect waves-light btn-large light-blue lighten-1" ng-click="clickRegister()">Register</button>
    </div>
</div>
